In [2]:
import findspark
from functools import reduce
from pyspark import SparkContext
from pyspark.sql import SparkSession, Window, Row
from pyspark.sql.functions import *
from pyspark.sql.types import *
import plotly as py
import matplotlib.pyplot as plt

import pyspark.pandas as ps

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [3]:
#https://spark.apache.org/docs/latest/sql-getting-started.html
spark = SparkSession \
        .builder \
        .appName("firstSpark") \
        .getOrCreate()

22/04/21 14:33:05 WARN Utils: Your hostname, adrian-Legion-Y540-17IRH-PG0 resolves to a loopback address: 127.0.1.1; using 192.168.0.104 instead (on interface enxd03745b8af07)
22/04/21 14:33:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/21 14:33:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/04/21 14:33:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/04/21 14:33:06 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
# SPARK
sdf = spark.read.options(inferSchema='True',
              header='True').csv('./Data/Matches.csv')
# PANDAS-ON-SPARK
pdf = ps.read_csv('./Data/Matches.csv')

In [5]:
sdf.limit(5).show()

+--------+---+------+----------+-------------+--------------+----+----+---+
|Match_ID|Div|Season|      Date|     HomeTeam|      AwayTeam|FTHG|FTAG|FTR|
+--------+---+------+----------+-------------+--------------+----+----+---+
|       1| D2|  2009|2010-04-04|   Oberhausen|Kaiserslautern|   2|   1|  H|
|       2| D2|  2009|2009-11-01|  Munich 1860|Kaiserslautern|   0|   1|  A|
|       3| D2|  2009|2009-10-04|Frankfurt FSV|Kaiserslautern|   1|   1|  D|
|       4| D2|  2009|2010-02-21|Frankfurt FSV|     Karlsruhe|   2|   1|  H|
|       5| D2|  2009|2009-12-06|        Ahlen|     Karlsruhe|   1|   3|  A|
+--------+---+------+----------+-------------+--------------+----+----+---+

In [7]:
pdf.head()

22/04/21 14:37:14 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/04/21 14:37:14 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

   Match_ID Div  Season        Date       HomeTeam        AwayTeam  FTHG  FTAG FTR
0         1  D2    2009  2010-04-04     Oberhausen  Kaiserslautern     2     1   H
1         2  D2    2009  2009-11-01    Munich 1860  Kaiserslautern     0     1   A
2         3  D2    2009  2009-10-04  Frankfurt FSV  Kaiserslautern     1     1   D
3         4  D2    2009  2010-02-21  Frankfurt FSV       Karlsruhe     2     1   H
4         5  D2    2009  2009-12-06          Ahlen       Karlsruhe     1     3   A

In [16]:
#lets rename some of the columns of the sdf
old_cols = sdf.columns[-3:]
new_cols = ["HomeTeamGoals", "AwayTeamGoals", "FinalResult"]
old_new_cols = [*zip(old_cols, new_cols)]
for old_col, new_col in old_new_cols:
    sdf = sdf.withColumnRenamed(old_col, new_col)
    
sdf.limit(5).toPandas()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,FinalResult
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

In [14]:
#lets rename some of the columns of the pdf
old_cols = pdf.columns[-3:]
new_cols = ["HomeTeamGoals", "AwayTeamGoals", "FinalResult"]
old_new_cols = [*zip(old_cols, new_cols)]
for old_col, new_col in old_new_cols:
    pdf = pdf.rename(columns = {old_col: new_col})
pdf.head()

22/04/21 14:47:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/04/21 14:47:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

   Match_ID Div  Season        Date       HomeTeam        AwayTeam  HomeTeamGoals  AwayTeamGoals FinalResult
0         1  D2    2009  2010-04-04     Oberhausen  Kaiserslautern              2              1           H
1         2  D2    2009  2009-11-01    Munich 1860  Kaiserslautern              0              1           A
2         3  D2    2009  2009-10-04  Frankfurt FSV  Kaiserslautern              1              1           D
3         4  D2    2009  2010-02-21  Frankfurt FSV       Karlsruhe              2              1           H
4         5  D2    2009  2009-12-06          Ahlen       Karlsruhe              1              3           A

In [ ]:
.....