In [2]:
# For running Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark").getOrCreate()
# For running Pandas on top of Spark
import pyspark.pandas as ps
import pandas as pd

22/04/21 15:17:42 WARN Utils: Your hostname, adrian-Legion-Y540-17IRH-PG0 resolves to a loopback address: 127.0.1.1; using 192.168.0.104 instead (on interface enxd03745b8af07)
22/04/21 15:17:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/21 15:17:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/04/21 15:17:43 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/04/21 15:17:43 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/04/21 15:17:43 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [8]:
# Create a DataFrame with Pandas-on-Spark
ps_df = ps.DataFrame(range(1000000))

# Convert a Pandas-on-Spark Dataframe into a Pandas Dataframe
pd_df = ps_df.to_pandas()
# Convert a Pandas Dataframe into a Pandas-on-Spark Dataframe
ps_df = ps.from_pandas(pd_df)
# Convert a Pandas-on-Spark Dataframe into a Spark Dataframe
spark_df = ps_df.to_spark()

22/04/21 15:18:09 WARN TaskSetManager: Stage 6 contains a task of very large size (1215 KiB). The maximum recommended task size is 1000 KiB.

In [13]:
# SPARK
spark_df.replace("5", "0").limit(5).show()

22/04/21 15:18:41 WARN TaskSetManager: Stage 11 contains a task of very large size (1215 KiB). The maximum recommended task size is 1000 KiB.

+---+
|  0|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [10]:
# PANDAS-ON-SPARK
ps_df.replace("5", "0").head()

22/04/21 15:18:20 WARN TaskSetManager: Stage 10 contains a task of very large size (1215 KiB). The maximum recommended task size is 1000 KiB.

   0
0  0
1  1
2  2
3  3
4  4

In [11]:
# PANDAS
pd_df.replace("5", "0").head()

   0
0  0
1  1
2  2
3  3
4  4